form {
  display: grid;
  grid-template-columns: 12rem 1fr 4rem;
  margin: 16px;
}
form > * {
  margin: 8px;
}
input {
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}
.label {
  font-weight: bold;
}
.checkboxRow {
  grid-column: span 3;
}
.btnGroup {
  grid-column: span 3;
}
