body {
  padding: 8px;
}
h2 {
  margin-top: 24px;
}

.formats {
  display: grid;
  grid-template-columns: 12rem 1fr 4rem;
  gap: 16px;
}
input {
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
}
.label {
  font-weight: bold;
}
.global-replacements {
  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: 16px;
}
.btnGroup {
  margin-top: 24px;
}
