body {
  min-width:360px;
  overflow-x:hidden;
  margin: 4px;
}
textarea {
  width: 100%;
  height: 8em;
}
fieldset {
  border: none;
  margin: 4px;
  padding: 0;
}
label {
  font: 90% 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif
}
span.radio {
  margin: 0 4px 0 4px;
}
